<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="PUT" th:action="@{/admin/{id}(id=${horse.getId()})}" th:object="${horse}">
  <div>
    <p class="ordering-title">Enter First Name:</p>
    <input type="text" class="ordering-input" th:field="*{name}" id="name"/>
  </div>
  <div>
    <p class="ordering-title">Enter First Name:</p>
    <input type="text" class="ordering-input" th:field="*{description}" id="description"/>
  </div>
  <div class="wrapper btn-wrapper">
    <button type="submit" class="btn">
      Update
    </button>
  </div>
</form>
</body>
</html>