<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<center>
    <div style="width: 600px; margin-top: 100px">
        <form th:method="POST" th:action="@{/admin/add}" th:object="${race}">
            <div class="mb-3">
                <input type="date" class="form-control" id="raceTime" placeholder="Race date: " th:field="*{raceTime}" >
            </div>
            <button type="submit">Create race</button>
        </form>
    </div>
</center>
</body>
</html>